/*=============================================================
  Filename: console-55.css

  Style Sheet for a console type screen.

  Date    Description                                       By
  -------|-------------------------------------------------|---
  30Nov09 First release                                     ARC
  11Jan16 Set a default font-size of 15px                   ARC
  27Aug17 Make font-size inherited by descendents           ARC
  08Apr18 Use CSS display:grid                              ARC
  11Apr18 Use Consolas font for inputs                      ARC
  15Apr18 Set body margin:0 to avoid horiontal scroll bar   ARC
  10May18 Set canvas display:block to stop 4px bottom gap   ARC
  20May18 Added square stop and pause shapes
          Removed requirement for slider to have a holder   ARC
 ==============================================================*/

body
{
  margin: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.consoleHolder{
  position: relative;
  margin: 0 auto;
  width: 100%;         /* just for centering the console using text-align: center */
  text-align: center;  /* this will center console if it has display:inline-block */
}

.consoleBezel {
  font-size: 15px;

  position: relative;
  display: inline-block;    /* this allows auto width to be centered with text-align: center */

  margin: 1em 0 0 0;
  padding: 0.5em;

  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom right, #e8e8e8, #e8e8e8 10%, #c8c8c8 90%, #c8c8c8);
  border-top: 1px #c0c0c0 solid;
  border-left: 1px #c0c0c0 solid;
  border-bottom: 1px #b0b0b0 solid;
  border-right: 1px #b0b0b0 solid;
  border-radius: 6px;
  box-shadow: 1px 2px 1px #aaaaaa;
}

.screenHolder {
  display: grid;

  min-width: 375px;
  min-height: 250px;
  background-color: #eceae8;
  border-left: 3px #c8c8c8 solid;
  border-top: 3px #c8c8c8 solid;
  border-right: 3px #e0e0e0 solid;
  border-bottom: 3px #e0e0e0 solid;
  border-radius: 4px;
}
  
.pagedScreen {
  display: grid;
  grid-template-rows: 35px 1fr;
  min-width: 375px;
  min-height: 250px;
  background-color: white;
  border-left: 3px #c8c8c8 solid;
  border-top: 3px #c8c8c8 solid;
  border-right: 3px #e0e0e0 solid;
  border-bottom: 3px #e0e0e0 solid;
  border-radius: 4px;
}
  
.tabHolder {
  padding: 2px 0 0 0;
  height: 25px;
  background-color: DarkOliveGreen;
  border-bottom: solid 8px #eceae8;
  overflow: visible;
  z-index: 4;
}

.tabHolder .pageTab {        /* button */
  position: relative;
  float: left;
  border-top: 1px #bbbbbb solid;
  border-left: 1px #bbbbbb solid;
  border-right: 1px #999999 solid;
  border-bottom: 0;
  margin: 0 0 0 4px;
  color: #585858;
  font-family: sans-serif;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  background-color: #a0a0a0;
  padding: 2px 5px 4px 5px;
  width: 100px;
  height: 24px;
  text-align: center;
}

.tabHolder .pageTab.selected {
  height: 25px;
  background: #eceae8;
  border-top: 1px #faf9f5 solid;
  border-left: 1px #faf9f5 solid;
  border-right: 1px #cac9c5 solid;
  border-bottom: 0;
  color: black;
  font-weight: bold;
}

.pageHolder {
  position: relative;     /*  to be parent of the screenPages  */ 
  background-color: #eceae8;
}

.pageGrid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  text-align: left;
  background-color: #eceae8;
  z-index: 1;
}

.buttonHolder {
  display: grid;
  grid-template-columns: repeat(8, 1fr);  
  grid-column-gap: 1.5ex;
  padding: 1.25ex 0.5ex 0.5ex 0.5ex;
}

.buttonLink {
  height: 1.8em;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold;
  font-style: normal;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 0 1px 0;
  background: #c4c4c4;
  color: #404040;
  border-radius: 3px;
  border: solid 1px #888888;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.buttonLink:hover {
  background: #b4b4b4;
  border: solid 1px #808080;
  text-decoration: none;
}

.buttonLink:active {
  padding: 3px 0 0 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  background: #a4a4a4;
  border: solid 1px #787878;
  text-shadow: none;
}

.buttonLink:disabled {
  color: #909090;
}

.buttonLink:hover:disabled {
  color: #909090;
}

button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.sliderHolder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-column-gap: 1.5ex;

  height: 25px;
  width: 99%;
  padding: 0;
  margin: 6px auto 0 auto;
  background-color: #c0c0c0;
  border-top: 1px #888888 solid;
  border-bottom: 1px #e0e0e0 solid;
  border-right: 1px #e0e0e0 solid;
  border-radius: 4px;
}

input[type="range"].slider {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 80%; 
  height: 22px; 
  margin: 1px auto 0 auto;
  border: none;
  padding: 0; 
  outline: 0; /* no focus outline */
  background-color: transparent;
}

input[type="range"].slider::-moz-range-track {
  border: inherit;
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}

input[type="range"].slider::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}

input[type="range"].slider::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"].slider::-ms-tooltip {
  display: none;
}

/* thumb */
input[type=range].slider::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}

input[type="range"].slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
  margin-top: -4px;
}

input[type="range"].slider::-moz-range-thumb {
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 0px #808080;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
}

input[type="range"].slider::-ms-thumb {
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
}

input[type="range"].slider:focus {
  outline: 0;
}

input[type="range"].slider::-moz-focus-outer {
  border: 0;
}

.spinner {
  display: grid;
  grid-template-columns: 1fr 1.3em;
  grid-template-rows: 1fr 1fr; 

  position: relative;
  font-size: inherit;
  line-height: 1.3em;
  font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
  width: 8em;
  height: 1.4em;
  padding: 0;
  margin: 0;
  border-top: 2px solid #aaaaaa;
  border-left: 2px solid #aaaaaa;
  border-right: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 3px;

  background-color:#aaaaaa;
}

.spinner input {
  grid-row-start: 1; 
  grid-row-end: 3; 

  box-sizing: border-box;
  padding: 0 0.3em 0 0.3em;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  font-size: inherit;
  text-align: right;
}

.spinner button {
  position: relative;
  box-sizing: border-box; 

  margin: 0;
  padding: 0;
  font-size: inherit;
  vertical-align: top;
  background-color: #c4c4c4;
  text-indent: -999px;
  overflow: hidden;
  border-width: 1px;
  border-radius: 2px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  outline: none;
}

.spinner button:hover {
  background-color: #b4b4b4;
}

.spinner button:active {
  padding: 1px 0 0 1px;
  margin: 1px 0 0 1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4); 
  background: #a4a4a4;
  border: 0; 
  text-shadow: none;
}

.spinner .triangle-up {      /* REF: https://css-tricks.com/examples/ShapesOfCSS/  */
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-bottom: 0.4em solid black;
}

.spinner .triangle-down {
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  border-top: 0.4em solid black;
}

.buttonLink .triangle-left {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 0.5em solid transparent;
	border-right: 0.9em solid #505060;
	border-bottom: 0.5em solid transparent;
}

.buttonLink .triangle-right {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 0.5em solid transparent;
	border-left: 0.9em solid #505060;
	border-bottom: 0.5em solid transparent;
}

.buttonLink .triangle-down {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-top: 0.9em solid #505060;
}

.buttonLink .triangle-up {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.9em solid #505060;
}

.buttonLink .square-stop {
  position: relative;
  margin: 0 auto;
  width: 0.9em;
  height: 0.9em;
  background-color: #505060;
}

.buttonLink .square-pause {
  position: relative;
  margin: 0 auto;
  width: 0.2em;
  height: 0.9em;
  border-left: 0.3em solid #505060;
  border-right: 0.3em solid #505060;
}
